html,
body {
  padding: 0;
  margin: 0;
  font-family: "PT Serif", Georgia, -apple-system, Serif;
  background-color: #000000;
  color: hsla(0, 0%, 100%, 0.8);
  width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

canvas {
  width: 100%;
  min-height: 100vh;
}

.container {
  flex: 1;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.phrase-container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.phrase {
  text-align: center;
  letter-spacing: 0.12rem;
  color: #ffffff;
}

.phrase-container input[type="text"] {
  font-family: inherit;
  text-align: center;
  font-size: 1.5rem;
  background: transparent;
  color: #ffffff;
  border-color: #ffffff;
  border-width: 0px;
  border-bottom-width: 1px;
}

.phrase-container input[type="text"]:focus {
  background: transparent;
  outline-width: 0;
}

.phrase-container h3 {
  position: absolute;
  margin-top: 300px;
}

main {
  width: 100%;
  background-color: red;
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}

.push {
  height: 50px;
}

footer {
  z-index: 100;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer span {
  margin-right: 3px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 600px) {
}
